# الدرس الثاني

# Syntax

* للتذكير: اغلب المصطلحات المستخمة ستكون باللغة الإنجليزية حتى يتمكن المبرمج لاحقا من التواصل مع المبرمجين الاخرين بسهولة

Indentation

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

In [ ]:
#cndition statement
if 5 > 2:
    print("Five is greater than two!")
print("Five is greater than two!")

In [ ]:
#x is just a score
score = 5
y = "Hello, World!"

# Comments

In [ ]:
#This is a comment
#
#it's printing
""" This a comment
this is a comment
"""
print("Hello, World!")

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

# Variables

In [ ]:
x = 5
y = "John"
print(x)
print(y)
print(5)
print(8)
print("Hi")

In [ ]:
x = 4 # x is of type int
x = 'Sally' # x is now of type str
x = 10
#print(x)
#print("x")
#print(5)
Hi = 7
#print(Hi)
hi2 = "hi"
#print(hi)
hello  = 0
Hello = 9
print(hello)
print(Hello)

In [ ]:
r = 8
p = r
print(p)

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Illegal variable names:
2myvar = "John"

In [ ]:
my-var = "John"

In [ ]:
my var = "John"

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"

x = "Orange"
y = "Banana"
z= "Cherry"
print(x)
print(y)
print(z)

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

طباعة المتغيرات

In [ ]:
x = "awesome"
print(x)

In [ ]:
x = "awesome"
print("Python is " + x)

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

In [ ]:
x = 5
y = 10
z = x * y
print(z)

In [ ]:
x = 5
y = "John"
print(x + y)

In [ ]:
x = "5"
x = 5
John = " 7"
y = John
#print = "9"
print(x + y)

In [ ]:
input()

In [ ]:
input("Hi")

In [ ]:
y = input()

In [ ]:
print (y)

Data Types

In [ ]:
x = 5
print(type(x))

In [ ]:
x1 = "Hello World" #	str
x2 = 20 #int
x3 = 20.5 #	float
x4 = 1j #	complex
x5 = ["apple", "banana", "cherry"] #	list
x6 = ("apple", "banana", "cherry") #	tuple
x7 = range(6) #range
x8 = {"name" : "John", "age" : 36} #	dict
x9 = {"apple", "banana", "cherry"} #	set
x10 = frozenset({"apple", "banana", "cherry"}) #	frozenset
x11 = True #	bool
x12 = b"Hello" #	bytes
x13 = bytearray(5) #	bytearray
x14 = memoryview(bytes(5)) #	memoryview

In [ ]:
print(type(x1))

In [ ]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))
print(type(x11))
print(type(x12))
print(type(x13))
print(type(x14))

# Numbers

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
x = 5
y = "Hello "
 
print(y + str(x))

# Operators

In [ ]:
a = 5 + 3
b = 5 - 3
c = 5 / 3
d = 5 * 3
e = 5 % 3

# Casting

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
print(x)
print(y)
print(z)
print(w)
print(type(x))
print(type(y))
print(type(z))
print(type(w))

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Homework

قم باخذ قيمتين من المستخدم واطبع جمعهم وطرحهم وضربهم وقسمتهم وباقي القسمة